<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@DateTime.Now</title>
    <link href="/Styles/style.css?v=@DateTime.Now.Ticks" type="text/css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.5.1/rxjs.umd.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.4.0/jquery.signalR.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <script type="text/javascript" src="/Scripts/jQuery.tmpl.js?v=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="/Scripts/hubs.js?v=@DateTime.Now.Ticks"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Home/Tmpl?v=@DateTime.Now.Ticks"></script>
    <script src="/Scripts/render-tpl.js"></script>

    <script type="text/javascript">
        document.domain = document.domain;
        window.onload = function () {
            for (var item in $.signalR) {
                console.dir(item);
            }
        }
    </script>

    <script type="text/javascript">
        if (!window.jQuery) {
            document.write('<script type="text/javascript" src="/Scripts/jquery.js"><\/script>');
        }
    </script>
</head>
<body>
    @RenderBody()
    @{
        <h2>@DateTime.Now</h2>
    }
</body>
</html>
