@{
                /**/

                Layout = null;
}
<p>@Model.Message</p>

AskPrice2
AskPrice3
AskPrice4
AskPrice5
AskPrice6
AskPrice7
AskPrice8
AskPrice9
AskPrice10


AskSize2
AskSize3
AskSize4
AskSize5
AskSize6
AskSize7
AskSize8
AskSize9
AskSize10


BidPrice2
BidPrice3
BidPrice4
BidPrice5
BidPrice6
BidPrice7
BidPrice8
BidPrice9
BidPrice10


BidSize2
BidSize3
BidSize4
BidSize5
BidSize6
BidSize7
BidSize8
BidSize9
BidSize10


<tr data-symbol="{CommodityNo}"><td>{CommodityNo}</td> <td>{ContractNo}</td><td>{CurrentTime}</td><td>{HighPrice}</td><td>{LastPrice}</td> <td>{LastSize}</td><td>{LowPrice}</td> <td>{NowClosePrice}</td><td>{ClosePrice}</td> <td>{OpenPrice}</td><td>{PercentChange}</td><td>{PositionQty}</td> <td>{PrePositionQty}</td> <td>{PreSettlePrice}</td> <td>{Time}</td> <td>{TotalQty}</td><td>{TotalVolume}</td><td>{Volume}</td><td>{AskPrice}</td><td>{AskSize}</td><td>{BidPrice}</td><td>{BidSize}</td></tr>

<li data-symbol="{CommodityNo}"><span>{CommodityNo}</span> <span>{ContractNo}</span><span>{CurrentTime}</span><span>{HighPrice}</span><span>{LastPrice}</span> <span>{LastSize}</span><span>{LowPrice}</span> <span>{NowClosePrice}</span><span>{ClosePrice}</span> <span>{OpenPrice}</span><span>{PercentChange}</span><span>{PositionQty}</span> <span>{PrePositionQty}</span> <span>{PreSettlePrice}</span> <span>{Time}</span> <span>{TotalQty}</span><span>{TotalVolume}</span><span>{Volume}</span><span>{AskPrice}</span><span>{AskSize}</span><span>{BidPrice}</span><span>{BidSize}</span></li>

