
@{
    ViewBag.Title = "Vue";
    Layout = "~/Views/Home/App.cshtml";
}


<script type="text/javascript">

    window.onload = function () {

        var vue = new Vue({
            el: "#app"

        });
        for (var v in vue) {

            console.dir(v + ":" + vue[v]);
        }
    }
</script>
<h2>Vue</h2>
<div id="app">




</div>
