/debug
/*.o
/*.so
/*.dylib
/*.a
/*.pc
.vs
bin
obj
/TapQuoteAPILog/TapQuoteAPI_KeyOperation_20190325.log
/TapQuoteAPILog/TapQuoteAPI_KeyOperation_20190327.log
/TapQuoteAPILog/TapQuoteAPI_KeyOperation_20190401.log
/x64/Debug
