body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: black;
    color: green;
}

#main-content {
    width: 100px;
}

#stockTable table {
    border-collapse: collapse;
    text-align: center;
    margin-top: 50px;
}

    #stockTable table th, #stockTable table td {
        padding: 2px 6px;
    }

    #stockTable table td {
        text-align: right;
    }

#stockTable .loading td {
    text-align: left;
}

#stockTicker {
    width: 100%;
    height: 25px;
}

    #stockTicker .inner {
        width: 960px;
        border: 1px solid #999;
    }

    #stockTicker ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #stockTicker li {
        display: inline-block;
        margin-right: 8px;
    }

    /*<li data-symbol="{Symbol}"><span class="symbol">{Symbol}</span><span class="price">{Price}</span><span class="change">{PercentChange}</span></li>*/
    #stockTicker .symbol {
        font-weight: bold;
    }

    #stockTicker .change {
        font-style: italic;
    }

#chat {
    width: 500px;
}


#messages {
    width: 300px;
    border: 1px solid #ccc;
    height: 100px;
    float: left;
    overflow: auto;
    margin-left: 0px;
    padding-left: 0px;
}

    #messages li {
        list-style-type: none;
        padding: 3px;
    }

#users {
    width: 17%;
    height: 100px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
}

    #users li {
        padding: 4px;
    }

.clear {
    clear: both;
}

#new-message {
    font-family: Trebuchet MS;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

.error {
    color: Red;
}

.pm {
    color: Red;
}

.notification {
    color: #bbb;
}

.message {
}
