<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppName" value="Push service"/>
    <add key="master" value="server=192.168.0.131;port=3306;uid=awesome;pwd=awesome123;DataBase=SevenStar;charset=utf8;max pool size=1000;"/>
    <add key="slave" value="server=192.168.0.131;port=3306;uid=sangong;pwd=awesome123;DataBase=SevenStar;charset=utf8;max pool size=1000;"/>
    <add key="Redismaster" value="192.168.0.131:6479"/>
    <add key="ZipJsCss" value="false"/>
    <add key="Version" value="1.0"/>
  </appSettings>
  <connectionStrings>
    <add name="Host" connectionString="127.0.0.1"/>
    <add name="Port" connectionString="2048"/>
    <add name="X509Cert" connectionString="./"/>
    <add name="ssl" connectionString="false"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <sessionState mode="Custom" customProvider="RedisSessionStateProvider" cookieName="x-x-x" timeout="60">
      <providers>
        <add name="RedisSessionStateProvider"
             type="Microsoft.Web.Redis.RedisSessionStateProvider"
             host="192.168.0.131"
             port="6479"
             accessKey=""
             ssl="false"
             throwOnError="true"
             retryTimeoutInMilliseconds="0"
             databaseId="1"
             applicationName="Http-Session"
             connectionTimeoutInMilliseconds="5000"
             operationTimeoutInMilliseconds="5000"/>
      </providers>
    </sessionState>
    <!--使用StateServer时的配置-->
    <!--<machineKey validationKey="4CA3CA157C3980D373D20CE80372CB3D7D64F41D1AA92724ED581ED06F2EBB219D87BADE0418D1AA77A9C40C5256A86F66839ABA3128279165E55FBB733C0497" decryptionKey="0A6870BAE9353316BD2CD2B4148A68630FB09A82B4CB6623" validation="SHA1" />-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="C219FF1CA8C2CE46" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>