@{
    Layout = "~/Views/Home/App.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        <h1>@this.Request.Browser.Type;</h1>
        <time>@DateTime.Now.ToString()</time>
    </div>
</body>
</html>
